# Created by https://www.gitignore.io/api/notepadpp
# Edit at https://www.gitignore.io/?templates=notepadpp

### NotepadPP ###
# Notepad++ backups #
*.bak

# End of https://www.gitignore.io/api/notepadpp
